In [1]:
print("""
@File         : map.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2024-12-26 22:09:00
@Email        : cuixuanstephen@gmail.com
@Description  : map
""")

@File         : map.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2024-12-26 22:09:00
@Email        : cuixuanstephen@gmail.com
@Description  : map

In [2]:
import pandas as pd
import numpy as np

`.agg` 和 `.transform` 方法可以同时应用于整个值序列。一般来说，在 Pandas 中，这是一件好事；它允许 Pandas 执行快速且计算高效的矢量化操作。

不过，有时，作为最终用户的可能决定要牺牲性能来换取自定义或更细粒度的控制。这时 `.map` 方法就可以派上用场
了；`.map` 可帮助您将函数单独应用于 pandas 对象的每个元素。

In [3]:
ser = pd.Series([123.45, [100, 113], 142.0, [110, 113, 119]])
ser

0             123.45
1         [100, 113]
2              142.0
3    [110, 113, 119]
dtype: object

In [4]:
def custom_average(value):
    if isinstance(value, list):
        return sum(value) / len(value)
    
    return value

In [5]:
ser.map(custom_average)

0    123.45
1    106.50
2    142.00
3    114.00
dtype: float64

In [7]:
ser.transform(custom_average)

0    123.45
1    106.50
2    142.00
3    114.00
dtype: float64

In [8]:
df = pd.DataFrame([
    [2., [1, 2], 3.],
    [[4, 5], 5, 7.],
    [1, 4, [1, 1, 5.5]],
])
df

        0       1            2
0     2.0  [1, 2]          3.0
1  [4, 5]       5          7.0
2       1       4  [1, 1, 5.5]

In [9]:
df.map(custom_average)

     0    1    2
0  2.0  1.5  3.0
1  4.5  5.0  7.0
2  1.0  4.0  2.5

In [10]:
df.transform(custom_average)

        0       1            2
0     2.0  [1, 2]          3.0
1  [4, 5]       5          7.0
2       1       4  [1, 1, 5.5]

> 除了使用 `pd.Series.map` 之外，还可以使用 `pd.Series.transform`。但是，使用 `pd.DataFrame.transform` 不会获得相同的结果。请记住，无论使用的是 `pd.Series` 还是 `pd.DataFrame`，`.map` 都会明确将函数应用于每个元素。`pd.Series.transform` 也乐于将函数应用于它包含的每个元素，但 `pd.DataFrame.transform` 本质上会**遍历每一列并将该列作为参数传递给可调用参数**。

In [11]:
def custom_average(value):
    if isinstance(value, (pd.Series, pd.DataFrame)):
        raise TypeError('Received a pandas object - expected a single value!')

    if isinstance(value, list):
        return sum(value) / len(value)
    
    return value

In [13]:
try:
    df.transform(custom_average)
except TypeError as e:
    print(e)

Received a pandas object - expected a single value!

虽然可能存在概念重叠，但一般来说，在代码中，应该将 `.map` 视为按元素工作，而 `.agg` 和 `.transform` 将尽力同时处理更大的数据序列。