In [1]:
print("""
@File         : pd.get_dummies.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2024-12-28 15:38:43
@Email        : cuixuanstephen@gmail.com
@Description  : One-hot encoding with pd.get_dummies
""")

@File         : pd.get_dummies.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2024-12-28 15:38:43
@Email        : cuixuanstephen@gmail.com
@Description  : One-hot encoding with pd.get_dummies

In [2]:
import pandas as pd
import numpy as np

In [3]:
ser = pd.Series([
    "green",
    "brown",
    "blue",
    "amber",
    "hazel",
    "amber",
    "green",
    "blue",
    "green",
], name="eye_colors", dtype=pd.StringDtype())
ser

0    green
1    brown
2     blue
3    amber
4    hazel
5    amber
6    green
7     blue
8    green
Name: eye_colors, dtype: string

In [4]:
pd.get_dummies(ser)

   amber   blue  brown  green  hazel
0  False  False  False   True  False
1  False  False   True  False  False
2  False   True  False  False  False
3   True  False  False  False  False
4  False  False  False  False   True
5   True  False  False  False  False
6  False  False  False   True  False
7  False   True  False  False  False
8  False  False  False   True  False

将其作为参数传递给 `pd.get_dummies` 将创建一个类似索引的 `pd.DataFrame`，其中每个都有一个布尔列。每行都有一个 `True` 列，将其映射回其原始值；同一行中的所有其他列将为 False`。

如果我们对默认的列名不满意，可以通过添加前缀来修改它们。数据建模中的一个常见约定是在布尔列前加上 `is_` 前缀：

In [5]:
pd.get_dummies(ser, prefix='is')

   is_amber  is_blue  is_brown  is_green  is_hazel
0     False    False     False      True     False
1     False    False      True     False     False
2     False     True     False     False     False
3      True    False     False     False     False
4     False    False     False     False      True
5      True    False     False     False     False
6     False    False     False      True     False
7     False     True     False     False     False
8     False    False     False      True     False