In [1]:
import pandas as pd

In [2]:
df_2019_jul = pd.read_csv(
    "../../DATA/nyc_taxi_2019-07.csv",
    usecols=["passenger_count", "total_amount", "payment_type"],
)
df_2019_jul["year"] = 2019

df_2020_jul = pd.read_csv(
    "../../DATA/nyc_taxi_2020-07.csv",
    usecols=["passenger_count", "total_amount", "payment_type"],
)
df_2020_jul["year"] = 2020

df = pd.concat([df_2019_jul, df_2020_jul])

In [3]:
(
    df.loc[df["year"] == 2019, "total_amount"].count()
    - df.loc[df["year"] == 2020, "total_amount"].count()
)

5510007

![Comparing the number of rides in 2019 with 2020](../../IMAGES/3-5.png)

In [4]:
(
    df.loc[df["year"] == 2019, "total_amount"].sum()
    - df.loc[df["year"] == 2020, "total_amount"].sum()
)

108848979.24000001

In [5]:
df.loc[
    (df["year"] == 2019) & (df.passenger_count > 1), "passenger_count"
].count() / df.loc[df["year"] == 2019, "passenger_count"].count()

0.2833900000955953

In [6]:
df.loc[
    (df["year"] == 2020) & (df.passenger_count > 1), "passenger_count"
].count() / df.loc[df["year"] == 2020, "passenger_count"].count()

0.2061513222563435

In [7]:
df.loc[
    (df["year"] == 2019) & (df.payment_type == 2), "payment_type"
].count() / df.loc[df["year"] == 2019, "payment_type"].count()

0.2870595845428793

In [8]:
df.loc[
    (df["year"] == 2020) & (df.payment_type == 2), "payment_type"
].count() / df.loc[df["year"] == 2020, "payment_type"].count()

0.320558865998251

Beyond

In [9]:
df.corr()

                 passenger_count  payment_type  total_amount      year
passenger_count         1.000000      0.016410      0.014943 -0.049558
payment_type            0.016410      1.000000     -0.138561  0.029277
total_amount            0.014943     -0.138561      1.000000 -0.019706
year                   -0.049558      0.029277     -0.019706  1.000000

In [15]:
(
    df.loc[df.year == 2019, 'total_amount'].describe().round(2)
    - df.loc[df.year == 2020, 'total_amount'].describe().round(2)
)

count    5510007.00
mean           0.98
std            0.75
min          -53.20
25%            0.50
50%            0.60
75%            0.75
max         4672.45
Name: total_amount, dtype: float64

In [11]:
df.loc[df.year == 2020].describe().round(2)

       passenger_count  payment_type  total_amount      year
count        737565.00     737565.00     800412.00  800412.0
mean              1.38          1.35         18.63    2020.0
std               1.04          0.52         15.06       0.0
min               0.00          1.00       -397.60    2020.0
25%               1.00          1.00         10.80    2020.0
50%               1.00          1.00         14.16    2020.0
75%               1.00          2.00         20.55    2020.0
max               9.00          4.00       1995.00    2020.0

In [13]:
df.loc[
    (df["year"] == 2019) & (df.passenger_count == 0), "passenger_count"
].count() / df.loc[df["year"] == 2019, "passenger_count"].count()

0.018622599363335383

In [12]:
df.loc[
    (df["year"] == 2020) & (df.passenger_count == 0), "passenger_count"
].count() / df.loc[df["year"] == 2020, "passenger_count"].count()

0.026446482682882185