```python
import requests
from io import StringIO

r = requests.get("https://data_for_you.com/data.csv")
s = StringIO(r.content.decode())
df = pd.read_csv(s)
```

In [1]:
import pandas as pd

df = pd.read_csv(
    "https://api.blockchain.info/charts/market-price?format=csv",
    header=None,
    names=["date", "value"],
)

In [2]:
df.head()

                  date     value
0  2023-10-06 00:00:00  27416.69
1  2023-10-07 00:00:00  27946.61
2  2023-10-08 00:00:00  27973.26
3  2023-10-09 00:00:00  27937.18
4  2023-10-10 00:00:00  27581.42

In [4]:
df.iloc[-1].value

62079.73

In [5]:
df.iloc[-1, 1]

62079.73

In [6]:
df.loc[df["value"] == df["value"].max()]

                    date     value
160  2024-03-14 00:00:00  73094.37

In [7]:
df.loc[df["value"] == df["value"].min()]

                  date     value
7  2023-10-13 00:00:00  26758.66

In [10]:
df.iloc[[df['value'].argmax()]]

                    date     value
160  2024-03-14 00:00:00  73094.37

In [11]:
df.iloc[[df['value'].argmin()]]

                  date     value
7  2023-10-13 00:00:00  26758.66

In [16]:
df.set_index('date').idxmax()

value    2024-03-14 00:00:00
dtype: object

In [17]:
df.set_index('date').idxmin()

value    2023-10-13 00:00:00
dtype: object

In [19]:
df.set_index('date').loc[df.set_index('date').idxmin()]

                        value
date
2023-10-13 00:00:00  26758.66

![Selecting the minimum value from a data frame with a mask index](../../IMAGES/3-10.png)

In [21]:
df.set_index('date').agg(['idxmin', 'idxmax'])

                      value
idxmin  2023-10-13 00:00:00
idxmax  2024-03-14 00:00:00

Beyond

In [23]:
pd.read_csv('https://api.blockchain.info/charts/market-price?format=csv', header=None,
            names=['date', 'value']).iloc[-1, 1]

62079.73

In [24]:
import requests
from io import StringIO

r = requests.get('https://finance.yahoo.com/quote/%5EGSPC/history?p=%5EGSPC', 
                 headers={'User-Agent': 'Mozilla/5.0'})
df = pd.read_html(StringIO(r.content.decode()))[0].set_index('Date').iloc[:-1]
df

,Open,High,Low,Close Close price adjusted for splits.,Adj Close Adjusted close price adjusted for splits and dividend and/or capital gain distributions.,Volume
Date,,,,,,
"Oct 4, 2024",5737.48,5753.21,5702.83,5751.07,5751.07,3479400000
"Oct 3, 2024",5698.19,5718.78,5677.37,5699.94,5699.94,3597450000
"Oct 2, 2024",5698.14,5719.63,5674.00,5709.54,5709.54,3829050000
"Oct 1, 2024",5757.73,5757.73,5681.28,5708.75,5708.75,4025180000
"Sep 30, 2024",5726.52,5765.14,5703.53,5762.48,5762.48,4425730000
...,...,...,...,...,...,...
"Oct 12, 2023",4380.94,4385.85,4325.43,4349.61,4349.61,3713140000
"Oct 11, 2023",4366.59,4378.64,4345.34,4376.95,4376.95,3601660000
"Oct 10, 2023",4339.75,4385.46,4339.64,4358.24,4358.24,3520240000
"Oct 9, 2023",4289.02,4341.73,4283.79,4335.66,4335.66,3174630000
"Oct 6, 2023",4234.79,4324.10,4219.55,4308.50,4308.50,3902030000