In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv(
    "../../DATA/nyc_taxi_2020-01.csv",
    usecols=["passenger_count", "total_amount", "payment_type"],
    dtype={
        "passenger_count": np.float32,
        "total_amount": np.float32,
        "payment_type": np.float32,
    },
)

In [2]:
df.count()

passenger_count    6339567
payment_type       6339567
total_amount       6405008
dtype: int64

In [3]:
df = df.dropna().copy()

即使 `df.dropna()` 返回一个新的数据框，为了提高效率，其数据也可能与其他数据框共享。我们可能需要修改数据框。因此，修改数据框可能会导致 `SettingWithCopyWarning` 。为了避免这种情况，我们可以对数据使用 `copy()` 以确保幕后没有任何共享数据。

In [4]:
df["passenger_count"] = df["passenger_count"].astype(np.int8)
df["payment_type"] = df["payment_type"].astype(np.int8)

Beyond

In [6]:
df = pd.read_csv(
    "../../DATA/nyc_taxi_2020-01.csv",
    usecols=["VendorID", "trip_distance", "tip_amount", "total_amount"],
    dtype={
        "VendorID": np.float32,
        "trip_distance": np.float32,
        "tip_amount": np.float32,
        "total_amount": np.float32,
    },
)
df = df.dropna().copy()
df.loc["VendorID"] = df["VendorID"].astype(np.int8)

C:\Users\JPL-JUNO\AppData\Local\Temp\ipykernel_19020\467815824.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df.loc["VendorID"] = df["VendorID"].astype(np.int8)

In [7]:
df = pd.read_csv(
    "../../DATA/nyc_taxi_2020-01.csv",
    usecols=["VendorID", "trip_distance", "tip_amount", "total_amount"],
    dtype={
        "VendorID": np.float32,
        "trip_distance": np.float32,
        "tip_amount": np.float32,
        "total_amount": np.float32,
    },
)

df['VendorID'] = df['VendorID'].fillna(3)
df['VendorID'] = df['VendorID'].astype(np.int8)

In [8]:
df.memory_usage()

Index                 128
VendorID          6405008
trip_distance    25620032
tip_amount       25620032
total_amount     25620032
dtype: int64

In [9]:
df = pd.read_csv(
    "../../DATA/nyc_taxi_2020-01.csv",
    usecols=["VendorID", "trip_distance", "tip_amount", "total_amount"],
    dtype={
        "VendorID": np.float64,
        "trip_distance": np.float64,
        "tip_amount": np.float64,
        "total_amount": np.float64,
    },
)

In [10]:
df.memory_usage()

Index                 128
VendorID         51240064
trip_distance    51240064
tip_amount       51240064
total_amount     51240064
dtype: int64