In [1]:
print(
"""
@File         : ch01_generating_summary_statistics.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2024-09-21 17:05:41
@Email        : cuixuanstephen@gmail.com
@Description  : Generating Summary Statistics
"""
)

@File         : ch01_generating_summary_statistics.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2024-09-21 17:05:41
@Email        : cuixuanstephen@gmail.com
@Description  : Generating Summary Statistics

In [3]:
%cd ../

d:\Data-Analysis-and-Science\EDAPC

## 分析数据集的平均值

In [2]:
import pandas as pd
import numpy as np

In [5]:
covid_data = pd.read_csv(
    "DATA/covid-data.csv",
    usecols=["iso_code", "continent", "location", "date", "total_cases", "new_cases"],
)
covid_data.head(5)

  iso_code continent     location        date  total_cases  new_cases
0      AFG      Asia  Afghanistan  24/02/2020            5          5
1      AFG      Asia  Afghanistan  25/02/2020            5          0
2      AFG      Asia  Afghanistan  26/02/2020            5          0
3      AFG      Asia  Afghanistan  27/02/2020            5          0
4      AFG      Asia  Afghanistan  28/02/2020            5          0

In [6]:
covid_data.dtypes

iso_code       object
continent      object
location       object
date           object
total_cases     int64
new_cases       int64
dtype: object

In [7]:
covid_data.shape

(5818, 6)

In [8]:
data_mean = np.mean(covid_data['new_cases'])
data_mean

8814.365761430045

In [9]:
covid_data.new_cases.mean()

8814.365761430045

## 检查数据集的中位数

In [11]:
data_median = np.median(covid_data.new_cases)
data_median

261.0

## 识别数据集的众数

众数是数据集中出现频率最高的值，或者简单地说，是数据集中最常见的值。与必须应用于数值的平均值和中位数不同，众数可以应用于数值和非数值，因为它关注的是值出现的频率(频数)。众数可以快速洞察最常见的值。这是一个非常有用的统计数据，尤其是与数据集的平均值和中位数一起使用时。

In [12]:
from scipy import stats

In [23]:
data_mode = stats.mode(covid_data.new_cases, keepdims=False)
data_mode

ModeResult(mode=0, count=805)

In [27]:
stats.mode(covid_data.new_cases, keepdims=True)

ModeResult(mode=array([0], dtype=int64), count=array([805]))

In [39]:
data_mode[0], data_mode[1]

(0, 805)

## 检查数据集的方差

In [40]:
data_variance = np.var(covid_data.new_cases)
data_variance

451321915.9280954

## 识别数据集的标准差

In [41]:
data_sd = np.std(covid_data.new_cases)
data_sd

21244.338444114834

## 生成数据集的范围

In [42]:
data_max = np.max(covid_data.new_cases)
data_min = np.min(covid_data.new_cases)
data_max, data_min

(287149, 0)

## Identifying the percentiles of a dataset

In [45]:
data_percentile = np.percentile(covid_data.new_cases, 60)
data_percentile

591.3999999999996

## Checking the quartiles of a dataset

In [47]:
data_quartile = np.quantile(covid_data.new_cases, [0.25, .5, .75])
data_quartile

array([  24.,  261., 3666.])

## 分析数据集的四分位距 (IQR)

IQR 测量数据集的分布或变异性。它只是第一四分位数和第三四分位数之间的距离。IQR 是一个非常有用的统计数据，特别是当我们需要确定数据集中 50% 的中间值在哪里时。与可能因非常高或非常低的数字（异常值）而倾斜的范围不同，IQR 不受异常值的影响，因为它专注于中间 50%。当我们需要计算数据集中的异常值时，它也很有用。

In [48]:
from scipy import stats

data_iqr = stats.iqr(covid_data.new_cases)
data_iqr

3642.0