In [1]:
print("""
@Description: A Note on Regular Expression
@Author(s): Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime: 2023-06-18 16:25:54
""")

@Description: A Note on Regular Expression
@Author(s): Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime: 2023-06-18 16:25:54

In [2]:
import pandas as pd

In [4]:
customer = pd.read_csv('customers.csv')
customer

                     Name                                            Address
0           Frank Manning  6461 Quinn Groves, East Matthew, New Hampshire...
1       Elizabeth Johnson  1360 Tracey Ports Apt. 419, Kyleport, Vermont,...
2         Donald Stephens  19120 Fleming Manors, Prestonstad, Montana, 23495
3     Michael Vincent III       441 Olivia Creek, Jimmymouth, Georgia, 82991
4          Jasmine Zamora  4246 Chelsey Ford Apt. 310, Karamouth, Utah, 7...
...                   ...                                                ...
9956        Dana Browning  762 Andrew Views Apt. 254, North Paul, New Mex...
9957      Amanda Anderson  44188 Day Crest Apt. 901, Lake Marcia, Maine, ...
9958           Eric Davis  73015 Michelle Squares, Watsonville, West Virg...
9959     Taylor Hernandez       129 Keith Greens, Haleyfurt, Oklahoma, 98916
9960     Sherry Nicholson   355 Griffin Valley, Davidtown, New Mexico, 17581

[9961 rows x 2 columns]

In [5]:
new_cols = ['Street', 'City', 'State', 'Zip']
customer[new_cols] = customer['Address'].str.split(pat=', ', expand=True)

In [6]:
customer['Street'].head()

0             6461 Quinn Groves
1    1360 Tracey Ports Apt. 419
2          19120 Fleming Manors
3              441 Olivia Creek
4    4246 Chelsey Ford Apt. 310
Name: Street, dtype: object

In [8]:
customer['Street'].str.replace('\d{4,}', '*', regex=True).head()

0             * Quinn Groves
1    * Tracey Ports Apt. 419
2           * Fleming Manors
3           441 Olivia Creek
4    * Chelsey Ford Apt. 310
Name: Street, dtype: object