In [1]:
print(
"""
@File         : ch01_pandas_foundations.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2024-07-20 14:21:13
@Email        : cuixuanstephen@gmail.com
@Description  : Pandas 基础
"""
)

@File         : ch01_pandas_foundations.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2024-07-20 14:21:13
@Email        : cuixuanstephen@gmail.com
@Description  : Pandas 基础

In [2]:
%cd ../

d:\Data-Analysis-and-Science\P1XC2E

In [3]:
import pandas as pd
import numpy as np

## 介绍

许多 Series 方法会返回另一个 Series 作为输出。这导致可以连续调用其他方法，这称为方法链（method chaining）。

Series 和 DataFrame 的 Index 组件是 pandas 与大多数其他数据分析库的区别所在，也是理解许多操作如何工作的关键。当我们
将其用作 Series 值的有意义标签时，我们将对这个强大的对象有所了解。

## Pandas 数据框

从视觉上看，pandas DataFrame 的输出显示（在 Jupyter Notebook 中）似乎只不过是一个由行和列组成的普通数据表。隐藏
在表面之下的是三个组成部分：索引、列和数据。

In [5]:
movies = pd.read_csv("data/movie.csv")
movies

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

![DataFrame anatomy](../img/DataFrame%20anatomy.png)

术语索引指所有索引标签作为一个整体，就像术语列指所有列名作为一个整体一样。索引和列名中的标签允许根据索引和列名提取数据。**索引还用于对齐**。当多个 Series 或 DataFrame 组合时，索引会先对齐，然后再进行任何计算。列和索引统称为轴。更具体地说，索引是轴 0，列是轴 1。

## DataFrame 属性

可以从 DataFrame 访问 DataFrame 的三个组件（索引、列和数据）。您可能希望对单个组件执行操作，而不是对整个 DataFrame 执行操作。一般来说，虽然我们可以将数据提取到 NumPy 数组中，但除非所有列都是数字，否则我们通常会将其留在 DataFrame 中。DataFrame 非常适合管理异构数据列，而 NumPy 数组则不然。

In [6]:
movies = pd.read_csv('data/movie.csv')
columns = movies.columns
index = movies.index
data = movies.to_numpy()

In [7]:
columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [8]:
index

RangeIndex(start=0, stop=4916, step=1)

In [9]:
data

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

In [10]:
type(index)

pandas.core.indexes.range.RangeIndex

In [11]:
type(columns)

pandas.core.indexes.base.Index

In [12]:
type(data)

numpy.ndarray

索引和列是紧密相关的。它们都是 Index 的子类。这使得您可以对索引和列执行类似的操作：

In [13]:
issubclass(pd.RangeIndex, pd.Index)

True

In [14]:
issubclass(columns.__class__, pd.Index)

True

pandas中有许多类型的索引对象。如果不指定索引，pandas 将使用 RangeIndex。RangeIndex 是 Index 的子类，类似于 Python 的范围对象。它的整个值序列只有在必要时才会加载到内存中，从而节省内存。它完全由其起始、终止和步长值定义。

如果可能，Index 对象会使用哈希表来实现，这样可以非常快速地进行选择和数据对齐。它们类似于 Python 集合，因为它们支持诸如交集和并集之类的运算，但不同之处在于它们是有序的并且可以有重复的项。

请注意 DataFrame.values 属性如何返回 NumPy n 维数组或ndarray。大多数 Pandas 都严重依赖 ndarray。索引、列和数据下面是 NumPy ndarray。它们可以被视为 Pandas 的基础对象，许多其他对象都是基于它们构建的。要了解这一点，我们可以查看索引和列的值：

In [15]:
index.to_numpy()

array([   0,    1,    2, ..., 4913, 4914, 4915], dtype=int64)

In [16]:
columns.to_numpy()

array(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes',
       'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes'], dtype=object)

话虽如此，我们通常不会访问底层的 NumPy 对象。我们倾向于将这些对象保留为 pandas 对象并使用 pandas 操作。但是，我们经常将 NumPy 函数应用于 pandas 对象。

## 了解数据类型

pandas 不会将数据广泛地分为连续数据或分类数据。相反，它对许多不同的数据类型有精确的技术定义。以下描述了常见的 pandas 数据类型：

- float – NumPy 浮点类型，支持缺失值
- int – NumPy 整数类型，不支持缺失值
- 'Int64' – pandas 可空整数类型
- object – 用于存储字符串（和混合类型）的 NumPy 类型
- 'category' – pandas 分类类型，支持缺失值
- bool – NumPy 布尔类型，不支持缺失值（None 变为 False， np.nan变为 True）
- 'boolean' – pandas 可空布尔类型
- datetime64[ns] – NumPy 日期类型，支持缺失值（NaT）

In [17]:
movies.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [18]:
movies.dtypes.value_counts()

float64    13
object     12
int64       3
dtype: int64

In [19]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

pandas 将其核心数字类型、整数和浮点数默认为 64 位，而不管所有数据在内存中需要的大小是多少。即使某一列完全由整数值 0 组成，数据类型仍为 int64。

object 数据类型是一种与其他数据类型不同的数据类型。object 数据类型的列可能包含任何有效 Python 对象的值。通常，当列属于对象数据类型时，它表示整个列都是字符串。当您加载 CSV 文件并且字符串列缺少值时，pandas 将在该单元格中保留 NaN（浮点数）。

因此，该列中可能同时包含对象和浮点（缺失）值。.dtypes 属性会将该列显示为对象（或系列上的 O）。它不会将其显示为混合类型列（包含字符串和浮点） ：

随着 Pandas 规模越来越大、越来越受欢迎，对象数据类型被证明对于所有具有字符串值的列来说都太通用了。Pandas 创建了自己的分类数据类型来处理具有固定数量可能值的字符串（或数字）列。

## 选择一列

从 DataFrame 中选择单个列将返回一个 Series（具有与 DataFrame 相同的索引）。它是数据的单一维度，仅由索引和数据组成。您也可以单独创建一个 Series，而无需 DataFrame，但更常见的是从 DataFrame 中提取它们。

一种语法使用索引运算符，另一种语法使用属性访问（或 . 符号）。

In [20]:
# 将列名作为字符串传递给索引运算符以选择一系列数据：
movies['director_name']

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [21]:
# 可以使用属性访问来完成相同的任务：
movies.director_name

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

我们还可以根据 .loc 和 .iloc 属性进行索引以提取系列。前者允许我们按列名提取，而后者则允许我们按位置提取。在 Pandas 文档中，它们被称为基于标签和基于位置。

.loc 的用法指定了用逗号分隔的行和列的选择器。行选择器是一个没有开始或结束名(:)的切片，这意味着选择所有行。

.iloc 索引操作还指定了行和列选择器。行选择器是没有起始或结束索引(:) 的切片，用于选择所有行。

In [22]:
movies.loc[:, "director_name"]

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [23]:
movies.iloc[:, 1]

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

还可以使用适当的属性查看系列的索引、类型、长度和名称：

In [24]:
movies['director_name'].index

RangeIndex(start=0, stop=4916, step=1)

In [25]:
movies['director_name'].dtype

dtype('O')

In [27]:
movies['director_name'].size

4916

In [28]:
movies['director_name'].name

'director_name'

验证输出是否为 Series：

In [29]:
type(movies['director_name'])

pandas.core.series.Series

注意，尽管报告的类型为对象(dtype('O'))，但由于缺少值，Series 中既有浮点数也有字符串。我们可以使用 .apply 方法和 type 函数来返回具有每个成员类型的 Series。

In [31]:
movies['director_name'].apply(type).unique()

array([<class 'str'>, <class 'float'>], dtype=object)

使用索引运算符([])选择列名适用于任何列名。您还可以使用此运算符创建和更新列。您使用索引运算符时，Jupyter 将提供列名的补全，但遗憾的是，不会提供后续 Series 属性的补全。

我经常发现自己使用属性访问，因为获取 Series 属性的补全非常方便。但是，我还要确保列名是有效的 Python 属性名，并且不会与现有的 DataFrame 属性冲突。我还尝试不使用属性或索引分配进行更新，而是使用 `.assign` 方法。

## 调用 Series 方法

Series 和 DataFrames 都具有强大的功能。我们可以使用内置的 `dir` 函数来发现 Series 的所有属性和方法。

In [33]:
s_attr_methods = set(dir(pd.Series))
len(s_attr_methods)

422

In [34]:
df_attr_methods = set(dir(pd.DataFrame))
len(df_attr_methods)

437

In [35]:
len(s_attr_methods & df_attr_methods)

367

In [36]:
director = movies['director_name']
fb_likes = movies['actor_1_facebook_likes']

In [37]:
director.dtype, fb_likes.dtype

(dtype('O'), dtype('float64'))

In [38]:
director.head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [39]:
director.sample(n=5, random_state=42)

2347      Brian Percival
4687         Lucio Fulci
691        Phillip Noyce
3911       Sam Peckinpah
2488    Rowdy Herrington
Name: director_name, dtype: object

Series 的数据类型通常决定了哪些方法最有用。例如，对象数据类型 Series 最有用的方法之一是 `.value_counts`，它计算频率：

In [40]:
director.value_counts()

Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Clint Eastwood      20
Ridley Scott        16
                    ..
John Putch           1
Luca Guadagnino      1
Sam Fell             1
Dan Fogelman         1
Daniel Hsia          1
Name: director_name, Length: 2397, dtype: int64

`.value_counts` 方法通常对具有对象数据的 Series 更有用类型，但有时也可以提供对数字系列的洞察。

In [41]:
fb_likes.value_counts()
# 较高的数字似乎已四舍五入到最接近的千位

1000.0     436
11000.0    206
2000.0     189
3000.0     150
12000.0    131
          ...
703.0        1
208.0        1
79.0         1
269.0        1
291.0        1
Name: actor_1_facebook_likes, Length: 877, dtype: int64

In [42]:
director.size, director.shape, len(director)

(4916, (4916,), 4916)

In [43]:
director.unique()

array(['James Cameron', 'Gore Verbinski', 'Sam Mendes', ...,
       'Scott Smith', 'Benjamin Roberds', 'Daniel Hsia'], dtype=object)

还有 `.count` 方法，它不返回项目的数量，而是返回非缺失值的数量：

In [44]:
director.count()

4814

In [45]:
fb_likes.count()

4909

In [46]:
# 基本汇总统计数据
fb_likes.min(), fb_likes.max(), fb_likes.mean(), fb_likes.median(), fb_likes.std()

(0.0, 640000.0, 6494.488490527602, 982.0, 15106.986883848185)

In [47]:
fb_likes.describe()

count      4909.000000
mean       6494.488491
std       15106.986884
min           0.000000
25%         607.000000
50%         982.000000
75%       11000.000000
max      640000.000000
Name: actor_1_facebook_likes, dtype: float64

当 `.describe` 与对象数据类型列一起使用时，将返回完全不同的输出：

In [48]:
director.describe()

count                 4814
unique                2397
top       Steven Spielberg
freq                    26
Name: director_name, dtype: object

`.quantile` 方法计算数值数据的分位数。注意，如果传入一个 scaler，则会得到标量输出，但如果传入一个列表，则输出为 pandas Series

In [49]:
fb_likes.quantile(0.2)

510.0

In [50]:
fb_likes.quantile([.1, .2, .3, .4, .5, .6, .7, .8, .9])

0.1      240.0
0.2      510.0
0.3      694.0
0.4      854.0
0.5      982.0
0.6     1000.0
0.7     8000.0
0.8    13000.0
0.9    18000.0
Name: actor_1_facebook_likes, dtype: float64

可以使用 `.isna` 方法确定每个单独的值是否缺失。结果是一个 Series。您可能会看到它被称为布尔数组。（具有布尔值的系列，其索引和长度与原始系列相同）

In [51]:
director.isna()

0       False
1       False
2       False
3       False
4       False
        ...
4911    False
4912     True
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

可以使用 `.fillna` 方法替换系列中的所有缺失值：

In [52]:
fb_likes_filled = fb_likes.fillna(0)
fb_likes_filled.count()

4916

要删除 Series 元素中缺少值的条目，请使用 `.dropna` 方法：

In [53]:
fb_likes_dropped = fb_likes.dropna()
fb_likes_dropped.size

4909

`.value_counts` 方法是信息量最大的 Series 方法之一，在探索性分析中被广泛使用，尤其是分类列。它默认返回计数，但通过将 `normalize` 参数设置为 True，将返回相对频率，这提供了分布的另一种视图：

In [54]:
director.value_counts(normalize=True)

Steven Spielberg    0.005401
Woody Allen         0.004570
Martin Scorsese     0.004155
Clint Eastwood      0.004155
Ridley Scott        0.003324
                      ...
John Putch          0.000208
Luca Guadagnino     0.000208
Sam Fell            0.000208
Dan Fogelman        0.000208
Daniel Hsia         0.000208
Name: director_name, Length: 2397, dtype: float64

我们通过观察 `.count` 方法的结果与 `.size` 属性不匹配来确定 Series 中缺少值。更直接的方法是检查 `.hasnans` 属性：

In [56]:
director.hasnans

True

存在 `.isna` 的补充；`.notna` 方法，它对所有非缺失值返回True ：

In [57]:
director.notna()

0        True
1        True
2        True
3        True
4        True
        ...
4911     True
4912    False
4913     True
4914     True
4915     True
Name: director_name, Length: 4916, dtype: bool

## 系列操作

Series 和 DataFrames 支持许多 Python 运算符。通常，使用运算符时会返回一个新的 Series 或 DataFrame。

In [59]:
imdb_score = movies['imdb_score']
imdb_score

0       7.9
1       7.1
2       6.8
3       8.5
4       7.1
       ...
4911    7.7
4912    7.5
4913    6.3
4914    6.3
4915    6.6
Name: imdb_score, Length: 4916, dtype: float64

In [60]:
imdb_score + 1

0       8.9
1       8.1
2       7.8
3       9.5
4       8.1
       ...
4911    8.7
4912    8.5
4913    7.3
4914    7.3
4915    7.6
Name: imdb_score, Length: 4916, dtype: float64

In [61]:
imdb_score // 7

0       1.0
1       1.0
2       0.0
3       1.0
4       1.0
       ...
4911    1.0
4912    1.0
4913    0.0
4914    0.0
4915    0.0
Name: imdb_score, Length: 4916, dtype: float64

有六个比较运算符，大于(>)、小于(<)、大于或等于(>=)、小于或等于(<=)、等于(==)和不等于(!=)。每个比较运算符根据条件的结果将系列中的每个值转换为 True 或 False。结果是一个布尔数组，它对于过滤非常有用：

In [62]:
imdb_score > 7

0        True
1        True
2       False
3        True
4        True
        ...
4911     True
4912     True
4913    False
4914    False
4915    False
Name: imdb_score, Length: 4916, dtype: bool

In [66]:
director == "James Cameron"

0        True
1       False
2       False
3       False
4       False
        ...
4911    False
4912    False
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

可以使用 `.add` 方法重现 imdb_score + 1 。当我们将方法链接在一起时，使用方法而不是运算符会很有用。

为什么 pandas 会提供与这些运算符等效的方法？从本质上讲，运算符只能以一种方式运行。另一方面，方法可以具有参数，允许更改其默认功能。

In [67]:
money = pd.Series([100, 20, None])
money - 15

0    85.0
1     5.0
2     NaN
dtype: float64

In [68]:
money.sub(15, fill_value=0)

0    85.0
1     5.0
2   -15.0
dtype: float64

|操作组|操作符|Series 方法名|
|---|---|---|
|算术| +,-,*,/,//,%,**|.add, .sub, .mul, .div, .floordiv, .mod, .pow|
|比较|<,>,<=,>=,==,!=|.lt, .gt, .le, .ge, .eq, .ne|

## 链接 Series 方法

在 Python 中，每个变量都指向一个对象，许多属性和方法都会返回新对象。这样就可以使用属性访问来顺序调用方法。这称为方法链或流编程。pandas是一个非常适合方法链的库，因为许多 Series 和 DataFrame 方法会返回更多 Series 和 DataFrame，从而可以调用更多方法。

In [69]:
fb_likes.isna().sum()

7

In [70]:
director.value_counts().head(3)

Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Name: director_name, dtype: int64

In [71]:
fb_likes.fillna(0).astype(int).head()

0     1000
1    40000
2    11000
3    27000
4      131
Name: actor_1_facebook_likes, dtype: int32

链接的一个潜在缺点是调试变得困难。由于方法调用期间创建的任何中间对象都没有存储在变量中，因此很难追踪它在链中发生的确切位置。

调试链的另一种方法是调用 `.pipe` 方法来显示中间值。Series上的 `.pipe` 方法需要传递一个函数，该函数接受 Series 作为输入并可以返回任何内容（但如果我们想在方法链中使用它，我们需要返回 Series）。

In [72]:
def debug_ser(ser):
    print('BEFORE')
    print(ser)
    print('AFTER')
    return ser

In [76]:
fb_likes.fillna(0).pipe(debug_ser).astype(int).head()

BEFORE
0        1000.0
1       40000.0
2       11000.0
3       27000.0
4         131.0
         ...
4911      637.0
4912      841.0
4913        0.0
4914      946.0
4915       86.0
Name: actor_1_facebook_likes, Length: 4916, dtype: float64
AFTER

0     1000
1    40000
2    11000
3    27000
4      131
Name: actor_1_facebook_likes, dtype: int32

如果您想创建一个全局变量来存储中间值，您也可以使用 `.pipe`：

In [79]:
intermediate = None
def get_intermediate(ser):
    global intermediate
    intermediate = ser
    return ser

In [80]:
res = (
    fb_likes.fillna(0)
    .pipe(get_intermediate)
    .astype(int)
    .head()
)

In [81]:
intermediate

0        1000.0
1       40000.0
2       11000.0
3       27000.0
4         131.0
         ...
4911      637.0
4912      841.0
4913        0.0
4914      946.0
4915       86.0
Name: actor_1_facebook_likes, Length: 4916, dtype: float64

## 重命名列名称

In [82]:
col_map = {
    'director_name': 'director',
    'num_critic_for_review': 'critic_reviews',
}

In [83]:
movies.rename(columns=col_map).head()

,color,director,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

DataFrame 上的 `.rename` 方法允许重命名列标签。我们可以通过分配给 columns 属性来重命名列。但我们不能链接赋值。

In [84]:
idx_map = {
    "Avatar": "Ratava",
    "Spectre": "Ertceps",
    "Pirates of the Caribbean: At World's End": "POC",
}

In [85]:
col_map = {
    'aspect_ratio': 'aspect',
    'movie_facebook_likes': 'fblikes',
}

In [86]:
(
    movies.set_index('movie_title')
    .rename(index=idx_map, columns=col_map)
    .head(3)
)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect,fblikes
movie_title,,,,,,,,,,,,,,,,,,,,,
Ratava,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
POC,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Ertceps,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

可以将索引和列属性重新分配给 Python 列表。当列表的元素数量与行和列标签相同时，此分配有效。

In [88]:
movies = pd.read_csv('data/movie.csv', index_col='movie_title')
ids = movies.index.to_list()
columns = movies.columns.to_list()

In [89]:
ids[0] = "Ratava"
ids[1] = "POC"
ids[2] = "Ertceps"
columns[1] = "director"
columns[-2] = "aspect"
columns[-1] = "fblikes"
movies.index = ids

In [90]:
movies.columns = columns
movies.head(3)

,color,director,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect,fblikes
Ratava,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
POC,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Ertceps,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

另一种选择是将函数传递给 `.rename` 方法。该函数接受列名并返回新名称。假设列中有空格和大写字母，此代码将清除它们：

In [91]:
def to_clean(val):
    return val.strip().lower().replace(' ', '_')

In [92]:
movies.rename(columns=to_clean).head(3)

,color,director,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect,fblikes
Ratava,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
POC,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Ertceps,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

在 Pandas 代码中，你还会看到用于清理列名的列表推导。使用新的清理列表，你可以将结果重新分配回 .columns 属性：

In [93]:
columns = [col.strip().lower().replace(' ', '_') for col in movies.columns]

In [95]:
movies.columns = columns

In [96]:
movies.columns

Index(['color', 'director', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'num_voted_users', 'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect', 'fblikes'],
      dtype='object')

## 创建和删除列

创建新列的一种方法是进行索引分配。请注意，这不会返回新的 DataFrame，而是会改变现有的 DataFrame。如果将列分配给标量值，它将对该列中的每个单元格使用该值。

In [97]:
movies['has_seen'] = 0

通常，我更喜欢使用 `.assign` 方法。这将返回一个带有新列的新 DataFrame。因为它使用参数名称作为列名，所以列名必须是有效的参数名称：

In [98]:
movies = pd.read_csv('data/movie.csv')

In [99]:
(
    movies.rename(index=idx_map, columns=col_map)
    .assign(has_seen=0)
)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect,fblikes,has_seen
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,0
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,0
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,0
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84,0
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000,0
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16,0
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660,0
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456,0

In [100]:
total = (
    movies['actor_1_facebook_likes']
    + movies['actor_2_facebook_likes']
    + movies['actor_3_facebook_likes']
    + movies['director_facebook_likes']
)

In [101]:
total.head()

0     2791.0
1    46563.0
2    11554.0
3    95000.0
4        NaN
dtype: float64

我倾向于使用可以链接的方法，因此我更喜欢在这里调用 `.sum`。我将把要选择的列的列表传递给 `.loc` 以仅提取我想要求和的那些列：

In [103]:
columns = [
    'actor_1_facebook_likes',
    'actor_2_facebook_likes',
    'actor_3_facebook_likes',
    'director_facebook_likes'
]
sum_col = movies.loc[:, columns].sum(axis='columns')
sum_col.head()

0     2791.0
1    46563.0
2    11554.0
3    95000.0
4      274.0
dtype: float64

> 注意，当我们调用 + 运算符时，结果有缺失数字（NaN），但 .sum 方法默认会忽略缺失值。

In [104]:
movies.assign(total_likes=sum_col).head(5)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,total_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,2791.0
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,46563.0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,11554.0
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,95000.0
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,274.0

另一种选择是将函数作为 `.assign` 方法调用中的参数值传入。此函数接受 DataFrame 作为输入，并应返回一个 Series：

In [105]:
def sum_likes(df):
    return df[
        [c for c in df.columns 
         if 'like' in c and ('actor' in c or 'director' in c)]
    ].sum(axis=1)

In [106]:
movies.assign(total_likes=sum_likes).head(5)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,total_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,2791.0
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,46563.0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,11554.0
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,95000.0
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,274.0

当使用加法运算符将数字列相加时，如果缺少任何值，则结果为 NaN。但是，使用 `.sum` 方法它会将 NaN 转换为零。

In [107]:
(
    movies.assign(total_likes=sum_col)['total_likes']
    .isna()
    .sum()
)

0

In [108]:
(
    movies.assign(total_likes=total)['total_likes']
    .isna()
    .sum()
)

122

In [109]:
(
    movies.assign(total_likes=total.fillna(0))['total_likes']
    .isna()
    .sum()
)

0

In [110]:
def cast_like_gt_actor(df):
    return (
        df['cast_total_facebook_likes']
        >= df['total_likes']
    )

In [111]:
df2 = movies.assign(
    total_likes=total, is_cast_likes_more=cast_like_gt_actor
)

In [112]:
df2['is_cast_likes_more'].all()

False

让我们回溯并删除 total_likes 列。我们可以使用带有 columns 参数的 `.drop` 方法来执行此操作：

In [113]:
df2 = df2.drop(columns='total_likes')

In [114]:
actor_sum = movies[
    [c 
     for c in movies.columns 
     if 'actor_' in c and '_likes' in c]
].sum(axis='columns')

In [115]:
actor_sum.head(5)

0     2791.0
1    46000.0
2    11554.0
3    73000.0
4      143.0
dtype: float64

In [117]:
pct_like = actor_sum.div(movies['cast_total_facebook_likes']).mul(100)

In [118]:
pct_like.describe()

count    4883.000000
mean       83.327889
std        14.056578
min        30.076696
25%        73.528368
50%        86.928884
75%        95.477440
max       100.000000
dtype: float64

In [119]:
pd.Series(pct_like.to_numpy(), index=movies['movie_title']).head()

movie_title
Avatar                                         57.736864
Pirates of the Caribbean: At World's End       95.139607
Spectre                                        98.752137
The Dark Knight Rises                          68.378310
Star Wars: Episode VII - The Force Awakens    100.000000
dtype: float64

可以使用 `.insert` 将新列插入 DataFrame 中的特定位置。`.insert` 方法将新列的整数位置作为其第一个参数，将新列的名称作为其第二个参数，将值作为其第三个参数。需要使用 `.get_loc` Index 方法来查找列名的整数位置。

`.insert` 方法会就地修改调用 DataFrame，因此不会有赋值语句。它还会返回 `None`。因此，我更喜欢使用 `.assign` 方法来创建新列。如果我需要按顺序创建新列，我可以将有序的列表传递给索引运算符（或 `.loc`）。

In [120]:
profit_index = movies.columns.get_loc('gross') + 1
profit_index

9

In [124]:
movies.insert(loc=profit_index, 
              column='profit', 
              value=movies['gross'] - movies['budget'])

使用 `.drop` 方法删除列的另一种方法是使用 del 语句。这也不会返回新的 DataFrame，因此最好使用 `.drop` 而不是这个。

In [125]:
del movies['director_name']