In [1]:
print("""
@File         : ch11_time_series_new.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2024-04-07 01:07:23
@Email        : cuixuanstephen@gmail.com
@Description  : 时间序列
""")

@File         : ch11_time_series_new.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2024-04-07 01:07:23
@Email        : cuixuanstephen@gmail.com
@Description  : 时间序列

In [2]:
import numpy as np
import pandas as pd

## 日期和时间数据的类型及工具

In [3]:
from datetime import datetime

now = datetime.now()
now

datetime.datetime(2024, 4, 7, 1, 10, 2, 206502)

In [4]:
now.year, now.month, now.day

(2024, 4, 7)

In [5]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [6]:
delta.days

926

In [7]:
delta.seconds

56700

In [8]:
from datetime import timedelta
start = datetime(2011, 1, 7)

start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [9]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)