In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame(data={'col1': [1, 2], 'col2': [4, 3]})
df

In [ ]:
classes = {
    'table': 'center-table',
    'thead': 'center-header',
    'tbody': 'center-body',
    'index': 'center-index',
}

In [ ]:
df.to_html('test.html', classes=classes)

In [15]:
df = pd.DataFrame({
    "strings": ["Adam", "Mike"],
    "ints": [1, 3],
    "floats": [1.123, 1000.23]
})
df

  strings  ints    floats
0    Adam     1     1.123
1    Mike     3  1000.230

In [23]:
(
    df
    .style
    .format(precision=3, thousands=',', decimal='.')
    .format_index(str.upper, axis=1)
    .relabel_index(['row 1', 'row2'], axis=0)
    .to_html('test.html')
)

In [ ]:
weather_df = pd.DataFrame(np.random.rand(10,2)*5,
                          index=pd.date_range(start="2021-01-01", periods=10),
                          columns=["Tokyo", "Beijing"])