In [1]:
print("""
@File         : finding_the_baseball_players_best_at.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2024-12-31 22:52:49
@Email        : cuixuanstephen@gmail.com
@Description  : 寻找最擅长的棒球运动员
""")

@File         : finding_the_baseball_players_best_at.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2024-12-31 22:52:49
@Email        : cuixuanstephen@gmail.com
@Description  : 寻找最擅长的棒球运动员

In [2]:
import pandas as pd
import numpy as np

%cd ../

d:\Data-Analysis-and-Science\PDC3rd

In [4]:
df = pd.read_parquet('DATA/mlb_batting_summaries.parquet').set_index('id')

df

           ab    r    h  hr
id
abadf001    0    0    0   0
abboa001    0    0    0   0
abboc001    3    0    1   0
abrac001  847  116  208  20
abrea001    0    0    0   0
...       ...  ...  ...  ..
zimmk001    0    0    0   0
zimmr001  255   27   62  14
zubet001    1    0    0   0
zunig001    0    0    0   0
zunim001  572   82  111  41

[2183 rows x 4 columns]

In [5]:
df.idxmax()

ab    semim001
r     freef001
h     freef001
hr    judga001
dtype: string

球员 semim001 (Marcus Semien) 的击球次数最多，freef001 (Freddie Freeman) 的跑垒和安打次数最多，而 judga001 (Aaron Judge) 在此时间范围内击出本垒打最多。

如果你想深入了解这些伟大球员在所有类别中的表现，你可以获取 `pd.DataFrame.idxmax` 的输出，随后对这些值调用 `pd.Series.unique`，并将其用作整体 `pd.DataFrame` 的掩码：

In [10]:
best_players = df.idxmax().unique()
mask = df.index.isin(best_players)
df[mask]

            ab    r    h   hr
id
freef001  1849  368  590   81
judga001  1487  301  433  138
semim001  1979  338  521  100

为了更好地增强这些数据的视觉效果，可以使用 `pd.DataFrame.style.highlight_max` 来非常具体地显示这些球员在哪
个类别中表现最佳：

In [16]:
df[mask].style.highlight_max(color='green')