In [1]:
print("""
@File         : understanding_which_position_scores_the_most_per_team.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2025-01-01 16:47:13
@Email        : cuixuanstephen@gmail.com
@Description  : 了解每支球队哪个位置得分最高
""")

@File         : understanding_which_position_scores_the_most_per_team.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2025-01-01 16:47:13
@Email        : cuixuanstephen@gmail.com
@Description  : 了解每支球队哪个位置得分最高

In [3]:
import pandas as pd
import numpy as np

%cd ../

d:\Data-Analysis-and-Science\PDC3rd

In [4]:
df = pd.read_parquet('DATA/runs_scored_by_team.parquet').set_index(['year', 'team'])

df.head()

             1    2    3    4    5    6   7   8   9
year team
2000 ANA   124  107  100  113   98  115  77  76  54
     ARI   110  106  109   95  105   87  72  68  40
     ATL   113  125  124   93   95   70  77  74  39
     BAL   106  106   92   76   82   97  83  78  74
     BOS    99  107   99  114   99   71  75  66  62

In [5]:
df.idxmax(axis='columns')

year  team
2000  ANA     1
      ARI     1
      ATL     2
      BAL     1
      BOS     4
             ..
2023  SLN     1
      TBA     1
      TEX     1
      TOR     2
      WAS     1
Length: 720, dtype: object

In [6]:
df.idxmax(axis='columns').value_counts(normalize=True)

1    0.480556
2    0.208333
3    0.202778
4    0.088889
5    0.018056
6    0.001389
Name: proportion, dtype: float64

In [12]:
mask = df.idxmax(axis='columns').eq('1')
df[mask].drop(columns=['1']).idxmax(axis='columns').value_counts(normalize=True)

2    0.497110
3    0.280347
4    0.164740
5    0.043353
6    0.014451
Name: proportion, dtype: float64