In [1]:
print("""
@File         : stack_and_unstack.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2025-01-03 22:07:58
@Email        : cuixuanstephen@gmail.com
@Description  : Reshaping with pd.DataFrame.stack and pd.DataFrame.
unstack
""")

@File         : stack_and_unstack.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2025-01-03 22:07:58
@Email        : cuixuanstephen@gmail.com
@Description  : Reshaping with pd.DataFrame.stack and pd.DataFrame.
unstack

In [2]:
import pandas as pd

堆叠 stacking 是指将列推入行中的过程，本质上有助于从宽格式转换为长格式：

![Stacking a pd.DataFrame from wide to long format](../../IMAGES/FIG7-4.png)

unstacking 操作则以相反的方向进行，将以长格式存储的数据移动到宽格式：

![Unstacking a pd.DataFrame from long to wide format](../../IMAGES/FIG7-5.png)

In [8]:
df = pd.DataFrame([
    [12, 10, 40],
    [9, 7, 12],
    [0, 14, 190]
], columns=pd.Index(["Apple", "Orange", "Banana"], name="fruit"), index=pd.
Index(
["Texas", "Arizona", "Florida"], name="state"))

df

fruit    Apple  Orange  Banana
state
Texas       12      10      40
Arizona      9       7      12
Florida      0      14     190

In [9]:
df.stack()

state    fruit
Texas    Apple      12
         Orange     10
         Banana     40
Arizona  Apple       9
         Orange      7
         Banana     12
Florida  Apple       0
         Orange     14
         Banana    190
dtype: int64

In [11]:
df.stack().reset_index(name='number_grown')

     state   fruit  number_grown
0    Texas   Apple            12
1    Texas  Orange            10
2    Texas  Banana            40
3  Arizona   Apple             9
4  Arizona  Orange             7
5  Arizona  Banana            12
6  Florida   Apple             0
7  Florida  Orange            14
8  Florida  Banana           190

有时你可能想反其道而行，将长 pd.DataFrame 转换为转换为更宽的格式。当想要在紧凑的区域中汇总数据时，这尤其有用；利用两个维度进行显示比让查看者滚动多行数据更有效。

In [16]:
stacked = df.stack()
stacked

state    fruit
Texas    Apple      12
         Orange     10
         Banana     40
Arizona  Apple       9
         Orange      7
         Banana     12
Florida  Apple       0
         Orange     14
         Banana    190
dtype: int64

In [17]:
stacked.unstack()

fruit    Apple  Orange  Banana
state
Texas       12      10      40
Arizona      9       7      12
Florida      0      14     190

默认情况下，调用 `pd.Series.unstack` 会移动行索引的最内层。但是，如果我们想查看各列中汇总的 `state`，我们可以传递 `level=0` 来让它取第一层而不是最内层：

In [18]:
stacked.unstack(level=0)

state   Texas  Arizona  Florida
fruit
Apple      12        9        0
Orange     10        7       14
Banana     40       12      190

因为我们的 `pd.MultiIndex` level 有名称，所以我们也可以按名称而不是按位置来引用我们想要移动的级别：

In [19]:
stacked.unstack(level='state')

state   Texas  Arizona  Florida
fruit
Apple      12        9        0
Orange     10        7       14
Banana     40       12      190