In [2]:
print("""
@File         : exercise_22_state_sat_scores.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2024-10-27 17:22:04
@Email        : cuixuanstephen@gmail.com
@Description  : 
""")

@File         : exercise_22_state_sat_scores.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2024-10-27 17:22:04
@Email        : cuixuanstephen@gmail.com
@Description  :

In [3]:
import pandas as pd

filename = "../../DATA/sat-scores.csv"

df = pd.read_csv(
    filename,
    usecols=["Year", "State.Code", "Total.Math", "Total.Test-takers", "Total.Verbal"],
)

df = df.set_index(["Year", "State.Code"])

In [4]:
df = pd.read_csv(
    filename,
    usecols=["Year", "State.Code", "Total.Math", "Total.Test-takers", "Total.Verbal"],
    index_col=["Year", "State.Code"]
)
df.head()

                 Total.Math  Total.Test-takers  Total.Verbal
Year State.Code
2005 AL                 559               3985           567
     AK                 519               3996           523
     AZ                 530              18184           526
     AR                 552               1600           563
     CA                 522             186552           504

In [6]:
df.loc[2005, 'Total.Test-takers'].sum()

1344824

In [8]:
df.loc[(2010, ['NY', 'NJ', 'MA', 'IL']), 'Total.Math'].mean()

535.25

![Graphical breakdown of .loc with a multi-index](../../IMAGES/4-3.png)

In [9]:
df.loc[([2012, 2013, 2014, 2015], ["AZ", "CA", "TX"]), "Total.Math"].mean()

511.5833333333333

Beyond

In [10]:
df.head()

                 Total.Math  Total.Test-takers  Total.Verbal
Year State.Code
2005 AL                 559               3985           567
     AK                 519               3996           523
     AZ                 530              18184           526
     AR                 552               1600           563
     CA                 522             186552           504

In [14]:
df.loc[(slice(None), ['FL', 'IN', 'ID']), ['Total.Math', 'Total.Verbal']].mean()

Total.Math      507.090909
Total.Verbal    504.606061
dtype: float64

In [15]:
df.loc[df['Total.Verbal'] == df['Total.Verbal'].max()]

                 Total.Math  Total.Test-takers  Total.Verbal
Year State.Code
2013 ND                 613                174           612

In [19]:
# df.loc[df['Total.Verbal'].idxmax(), :]

In [20]:
df['Total.Verbal'].idxmax()

(2013, 'ND')

In [22]:
df.loc[2005, 'Total.Math'].mean()

535.6538461538462

In [23]:
df.loc[2015, 'Total.Math'].mean()

533.0943396226415