In [1]:
import pandas as pd

df = pd.read_csv(
    "../../DATA/nyc-parking-violations-2020.csv",
    usecols=[
        "Date First Observed",
        "Registration State",
        "Plate ID",
        "Issue Date",
        "Vehicle Make",
        "Street Name",
        "Vehicle Color",
    ],
)

In [3]:
df = df.set_index('Issue Date')

In [5]:
df.loc["01/02/2020 12:00:00 AM"]

,Plate ID,Registration State,Vehicle Make,Street Name,Date First Observed,Vehicle Color
Issue Date,,,,,,
01/02/2020 12:00:00 AM,EHM3610,NY,MAZDA,SB 2 Avenue @ E 122,0,BK
01/02/2020 12:00:00 AM,AB64604,CT,TOYOT,SB 2 Avenue @ E 115,0,NaN
01/02/2020 12:00:00 AM,T713131C,NY,NISSA,SB 2 Avenue @ E 30 S,0,BK
01/02/2020 12:00:00 AM,23015MJ,NY,FORD,SB 2 Avenue @ E 72 S,0,WH
01/02/2020 12:00:00 AM,67493MN,NY,HIN,SB 2 Avenue @ E 96 S,0,OR
...,...,...,...,...,...,...
01/02/2020 12:00:00 AM,HDY9971,NY,JAGUA,8TH AVE,0,GRY
01/02/2020 12:00:00 AM,HGV3053,NY,HONDA,LENOX AVE,0,NaN
01/02/2020 12:00:00 AM,JBN3119,NY,BUICK,ST NICHOLAS AVE,0,BLK
01/02/2020 12:00:00 AM,JPB3007,NY,ME/BE,ST NICHOLAS AVE,0,GRY
01/02/2020 12:00:00 AM,JAG2VG,FL,FRUEH,BAISLEY BLVD,0,WHITE

![Graphical depiction of turning Issue Date from a column into the index](../../IMAGES/4-1.png)

In [9]:
df.loc['01/02/2020 12:00:00 AM', 'Vehicle Make'].value_counts().iloc[:3]

Vehicle Make
TOYOT    3829
HONDA    3593
FORD     3164
Name: count, dtype: int64

In [10]:
df = df.reset_index().set_index('Vehicle Color')

In [17]:
df.loc[['BLUE', 'RED'], 'Vehicle Make'].value_counts().head(1)

Vehicle Make
HONDA    39353
Name: count, dtype: int64

Beyond

In [18]:
df = df.set_index('Issue Date').sort_index()

In [19]:
df.loc['01/02/2020 12:00:00 AM':'01/10/2020 23:59:59 PM', 'Vehicle Make'].value_counts().head(3)

Vehicle Make
FORD     38958
TOYOT    37096
HONDA    35962
Name: count, dtype: int64

In [ ]:
df = df.reset_index()
(
    df.set_index('Issue Date')
    .sort_index()
    .loc[
        '01/02/2020 12:00:00 AM':'01/10/2020 23:59:59 PM',
        'Vehicle Make'
    ]
    .value_counts()
    .head(3)
)

In [27]:
df = df.reset_index()
df['Plate ID'].value_counts().iloc[:1]

Plate ID
BLANKPLATE    8882
Name: count, dtype: int64

In [28]:
df = df.set_index('Plate ID')
df.loc['2704819', 'Registration State']

Plate ID
2704819    IN
2704819    IN
2704819    IN
2704819    IN
2704819    IN
           ..
2704819    IN
2704819    IN
2704819    IN
2704819    IN
2704819    IN
Name: Registration State, Length: 1535, dtype: object

In [29]:
df.loc['2704819', 'Street Name'].value_counts()

Street Name
8th Ave              395
Penn Plz             230
7th Ave               92
9th Ave               63
Broadway              57
                    ...
6TH AVE                1
W 54TH ST              1
E 39th St              1
N/S NW C/O W 30TH      1
E 49th St              1
Name: count, Length: 113, dtype: int64

In [30]:
df = df.reset_index()
df['Date First Observed'].value_counts()

Date First Observed
0           12371344
20200311         887
20200205         795
20200212         793
20200310         770
              ...
20220412           1
20191131           1
20200813           1
20160614           1
20201230           1
Name: count, Length: 465, dtype: int64