In [1]:
import pandas as pd

df = pd.read_csv(
    "../../DATA/nyc-parking-violations-2020.csv",
    usecols=[
        "Date First Observed",
        "Registration State",
        "Plate ID",
        "Issue Date",
        "Vehicle Make",
        "Street Name",
        "Vehicle Color",
    ],
)

In [3]:
df = df.set_index('Issue Date')

In [5]:
df.loc["01/02/2020 12:00:00 AM"]

,Plate ID,Registration State,Vehicle Make,Street Name,Date First Observed,Vehicle Color
Issue Date,,,,,,
01/02/2020 12:00:00 AM,EHM3610,NY,MAZDA,SB 2 Avenue @ E 122,0,BK
01/02/2020 12:00:00 AM,AB64604,CT,TOYOT,SB 2 Avenue @ E 115,0,NaN
01/02/2020 12:00:00 AM,T713131C,NY,NISSA,SB 2 Avenue @ E 30 S,0,BK
01/02/2020 12:00:00 AM,23015MJ,NY,FORD,SB 2 Avenue @ E 72 S,0,WH
01/02/2020 12:00:00 AM,67493MN,NY,HIN,SB 2 Avenue @ E 96 S,0,OR
...,...,...,...,...,...,...
01/02/2020 12:00:00 AM,HDY9971,NY,JAGUA,8TH AVE,0,GRY
01/02/2020 12:00:00 AM,HGV3053,NY,HONDA,LENOX AVE,0,NaN
01/02/2020 12:00:00 AM,JBN3119,NY,BUICK,ST NICHOLAS AVE,0,BLK
01/02/2020 12:00:00 AM,JPB3007,NY,ME/BE,ST NICHOLAS AVE,0,GRY
01/02/2020 12:00:00 AM,JAG2VG,FL,FRUEH,BAISLEY BLVD,0,WHITE

![Graphical depiction of turning Issue Date from a column into the index](../../IMAGES/4-1.png)

In [9]:
df.loc['01/02/2020 12:00:00 AM', 'Vehicle Make'].value_counts().iloc[:3]

Vehicle Make
TOYOT    3829
HONDA    3593
FORD     3164
Name: count, dtype: int64

In [10]:
df = df.reset_index().set_index('Vehicle Color')

In [17]:
df.loc[['BLUE', 'RED'], 'Vehicle Make'].value_counts().head(1)

Vehicle Make
HONDA    39353
Name: count, dtype: int64

Beyond

In [18]:
df = df.set_index('Issue Date').sort_index()

In [19]:
df.loc['01/02/2020 12:00:00 AM':'01/10/2020 23:59:59 PM', 'Vehicle Make'].value_counts().head(3)

Vehicle Make
FORD     38958
TOYOT    37096
HONDA    35962
Name: count, dtype: int64

In [ ]:
df = df.reset_index()
(
    df.set_index('Issue Date')
    .sort_index()
    .loc[
        '01/02/2020 12:00:00 AM':'01/10/2020 23:59:59 PM',
        'Vehicle Make'
    ]
    .value_counts()
    .head(3)
)

In [27]:
df = df.reset_index()
df['Plate ID'].value_counts().iloc[:1]

Plate ID
BLANKPLATE    8882
Name: count, dtype: int64

In [28]:
df = df.set_index('Plate ID')
df.loc['2704819', 'Registration State']

Plate ID
2704819    IN
2704819    IN
2704819    IN
2704819    IN
2704819    IN
           ..
2704819    IN
2704819    IN
2704819    IN
2704819    IN
2704819    IN
Name: Registration State, Length: 1535, dtype: object

In [29]:
df.loc['2704819', 'Street Name'].value_counts()

Street Name
8th Ave              395
Penn Plz             230
7th Ave               92
9th Ave               63
Broadway              57
                    ...
6TH AVE                1
W 54TH ST              1
E 39th St              1
N/S NW C/O W 30TH      1
E 49th St              1
Name: count, Length: 113, dtype: int64

In [30]:
df = df.reset_index()
df['Date First Observed'].value_counts()

Date First Observed
0           12371344
20200311         887
20200205         795
20200212         793
20200310         770
              ...
20220412           1
20191131           1
20200813           1
20160614           1
20201230           1
Name: count, Length: 465, dtype: int64

In [31]:
import numpy as np
import pandas as pd

g = np.random.default_rng(0)
df = pd.DataFrame(g.integers(0, 100, [36, 3]), columns=list("ABC"))
df["year"] = [2018] * 12 + [2019] * 12 + [2020] * 12
df["month"] = "Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec".split() * 3

df = df.set_index('year')

In [33]:
df.head()

       A   B   C month
year
2018  85  63  51   Jan
2018  26  30   4   Feb
2018   7   1  17   Mar
2018  81  64  91   Apr
2018  50  60  97   May

In [34]:
df = df.reset_index().set_index(['year', 'month'])
df.head()

             A   B   C
year month
2018 Jan    85  63  51
     Feb    26  30   4
     Mar     7   1  17
     Apr    81  64  91
     May    50  60  97

In [35]:
df.loc[2018]

        A   B   C
month
Jan    85  63  51
Feb    26  30   4
Mar     7   1  17
Apr    81  64  91
May    50  60  97
Jun    72  63  54
Jul    55  93  27
Aug    81  67   0
Sep    39  85  55
Oct     3  76  72
Nov    84  17   8
Dec    86   2  54

In [36]:
df.loc[2018, ['A', 'C']]

        A   C
month
Jan    85  51
Feb    26   4
Mar     7  17
Apr    81  91
May    50  97
Jun    72  54
Jul    55  27
Aug    81   0
Sep    39  55
Oct     3  72
Nov    84   8
Dec    86  54

In [37]:
df.loc[(2018, 'Jun'), ['B', 'C']]

B    63
C    54
Name: (2018, Jun), dtype: int64

![](../../IMAGES/multiplyindex0.png)

In [38]:
df.loc[[2018, 2020]]

             A   B   C
year month
2018 Jan    85  63  51
     Feb    26  30   4
     Mar     7   1  17
     Apr    81  64  91
     May    50  60  97
     Jun    72  63  54
     Jul    55  93  27
     Aug    81  67   0
     Sep    39  85  55
     Oct     3  76  72
     Nov    84  17   8
     Dec    86   2  54
2020 Jan    42  48  71
     Feb    88   7  93
     Mar    53  35  67
     Apr    57  25  32
     May    71  59  50
     Jun    33  76  39
     Jul    32  89  26
     Aug    22  71  62
     Sep     4   8  37
     Oct    83  40  78
     Nov    31  23  79
     Dec    87   7   5

In [39]:
df.loc[[2018, 2020], ['B', 'C']]

             B   C
year month
2018 Jan    63  51
     Feb    30   4
     Mar     1  17
     Apr    64  91
     May    60  97
     Jun    63  54
     Jul    93  27
     Aug    67   0
     Sep    85  55
     Oct    76  72
     Nov    17   8
     Dec     2  54
2020 Jan    48  71
     Feb     7  93
     Mar    35  67
     Apr    25  32
     May    59  50
     Jun    76  39
     Jul    89  26
     Aug    71  62
     Sep     8  37
     Oct    40  78
     Nov    23  79
     Dec     7   5

In [46]:
df.loc[[(2018, 'Jun'), (2020, 'Jun')]]

             A   B   C
year month
2018 Jun    72  63  54
2020 Jun    33  76  39

In [47]:
df.loc[
    [
        (2018, "Jun"),
        (2018, "Jul"),
        (2018, "Aug"),
        (2019, "Jun"),
        (2019, "Jul"),
        (2019, "Aug"),
        (2020, "Jun"),
        (2020, "Jul"),
        (2020, "Aug"),
    ]
]

             A   B   C
year month
2018 Jun    72  63  54
     Jul    55  93  27
     Aug    81  67   0
2019 Jun    38  46  99
     Jul    80  98  37
     Aug    68  95  65
2020 Jun    33  76  39
     Jul    32  89  26
     Aug    22  71  62

In [48]:
df.loc[([2018, 2019, 2020], ["Jun", "Jul", "Aug"])]

KeyError: "None of [Index(['Jun', 'Jul', 'Aug'], dtype='object')] are in the [columns]"

In [49]:
df.loc[([2018, 2019, 2020], ["Jun", "Jul", "Aug"]), ["A", "B", "C"]]

             A   B   C
year month
2018 Jun    72  63  54
     Jul    55  93  27
     Aug    81  67   0
2019 Jun    38  46  99
     Jul    80  98  37
     Aug    68  95  65
2020 Jun    33  76  39
     Jul    32  89  26
     Aug    22  71  62

è™½ç„¶ä½¿ç”¨ `loc` æ—¶ç¬¬äºŒä¸ªå‚æ•°ï¼ˆæˆ‘ä»¬çš„åˆ—é€‰æ‹©å™¨ï¼‰é€šå¸¸æ˜¯å¯é€‰çš„ï¼Œä½†åœ¨è¿™ï§©å®ƒï¥§æ˜¯ï¼šæˆ‘ä»¬éœ€è¦æŒ‡å‡ºæˆ‘ä»¬æƒ³è¦å“ªä¸€åˆ—æˆ–å“ªå‡ åˆ—ï¼Œä»¥åŠï¨ˆã€‚

å‡è®¾ç´¢å¼•å·²æŽ’åºï¼Œæˆ‘ä»¬ç”šè‡³å¯ä»¥ä½¿ç”¨åˆ‡ç‰‡æ¥é€‰æ‹©å¹´ä»½ï¼š

In [50]:
df.loc[([2018, 2019, 2020], ["Jun", "Jul", "Aug"]), "A":"C"]

             A   B   C
year month
2018 Jun    72  63  54
     Jul    55  93  27
     Aug    81  67   0
2019 Jun    38  46  99
     Jul    80  98  37
     Aug    68  95  65
2020 Jun    33  76  39
     Jul    32  89  26
     Aug    22  71  62

```python
df.loc[(:, ['Jun', 'Jul', 'Aug']), 'A':'C']
```

æˆ‘ä»¬åœ¨è¿™ï§©ï¥§èƒ½è¿™æ ·åšï¼Œå› ä¸º Python åªå…è®¸åœ¨æ–¹æ‹¬å·å†…ä½¿ç”¨å†’å·ã€‚æˆ‘ä»¬å°è¯•åœ¨å…ƒç»„ä¸­ä½¿ç”¨å†’å·ï¼Œå…ƒç»„ä½¿ç”¨å¸¸è§„åœ†æ‹¬å·ã€‚ç›¸åï¼Œæˆ‘ä»¬å¯ä»¥ä½¿ç”¨å†…ç½®çš„åˆ‡ç‰‡å‡½æ•°å¹¶ä»¥ `None` ä½œä¸ºå‚æ•°æ¥èŽ·å¾—ç›¸åŒçš„ç»“æžœï¼š

In [51]:
df.loc[(slice(None), ["Jun", "Jul", "Aug"]), "A":"C"]

             A   B   C
year month
2018 Jun    72  63  54
2019 Jun    38  46  99
2020 Jun    33  76  39
2018 Jul    55  93  27
2019 Jul    80  98  37
2020 Jul    32  89  26
2018 Aug    81  67   0
2019 Aug    68  95  65
2020 Aug    22  71  62

ä½ å¯ä»¥å°† `slice(None)` è§†ä¸ºå‘ pandas è¡¨æ˜Žä½ æ„¿æ„å°†æ‰€æœ‰å€¼ä½œä¸ºé€šé…ç¬¦çš„ä¸€ç§æ–¹å¼ã€‚

In [92]:
df.loc[(2020, slice(None)),:]

             A   B   C
year month
2020 Jan    42  48  71
     Feb    88   7  93
     Mar    53  35  67
     Apr    57  25  32
     May    71  59  50
     Jun    33  76  39
     Jul    32  89  26
     Aug    22  71  62
     Sep     4   8  37
     Oct    83  40  78
     Nov    31  23  79
     Dec    87   7   5

In [90]:
df.loc[(slice(None), ['Jun', 'Jul']), :]

             A   B   C
year month
2018 Jun    72  63  54
2019 Jun    38  46  99
2020 Jun    33  76  39
2018 Jul    55  93  27
2019 Jul    80  98  37
2020 Jul    32  89  26

In [ ]:
df.loc[[(2018, 'Jun'), (2020, slice(None))], :]

> æ²¡æœ‰åŠžæ³•èµ·æ•ˆ

In [110]:
pd.concat([df.loc[[(2018, 'Jun')],:], df.loc[(2020, slice(None)), :]])

             A   B   C
year month
2018 Jun    72  63  54
2020 Jan    42  48  71
     Feb    88   7  93
     Mar    53  35  67
     Apr    57  25  32
     May    71  59  50
     Jun    33  76  39
     Jul    32  89  26
     Aug    22  71  62
     Sep     4   8  37
     Oct    83  40  78
     Nov    31  23  79
     Dec    87   7   5