In [1]:
import pandas as pd
import numpy as np

s = pd.read_csv("../DATA/nyc-temps.txt").squeeze()
df = pd.DataFrame({"temp": s, "hour": [i for i in range(0, 24, 3)] * 91})

df[df.temp < 0]["temp"] = 0

C:\Users\JPL-JUNO\AppData\Local\Temp\ipykernel_10208\465151468.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.temp < 0]["temp"] = 0

> 只有一个问题：你无法提前知道它是否会起作用。这是因为 pandas 在整理查询时会进行大量内部分析和优化。因此，你无法知道你的任务是否会改变 `df` 上的 `temp` 列，或者更重要的是 pandas 是否决定缓存你的第一个查询的结果，将 `['temp']` 应用于缓存的内部值而不是原始值。

从 pandas 获得 `SettingWithCopyWarning` 是很常见且令人抓狂的！当收到此警告时，这是因为 pandas 试图提供帮助，告诉你，你的分配可能没有效果。顺便说一句，这个警告并不是在告诉你分配不起作用，因为它可能会起作用。这完全取决于你拥有的数据量以及 pandas 认为它可以或应该如何优化事物。

> 可能会收到此警告的明显迹象是使用双方括号 ‑ 不是嵌套的，而是一对位于另一对内，而是一对紧接在另一个后面。

In [2]:
df.loc[df.temp < 0, 'temp'] = 0
df.head()

   temp  hour
0     0     0
1     0     3
2     0     6
3     0     9
4     0    12

Beyond

In [11]:
df = pd.DataFrame({'temp': s * 1.0,
                   'hour': [i for i in range(0, 24, 3)] * 91})
df.head()

   temp  hour
0  -1.0     0
1  -1.0     3
2  -1.0     6
3  -1.0     9
4  -1.0    12

In [12]:
df.loc[
    df['temp'] % 2 == 1,
    'temp'
] = df.temp.mean()
df.head()

       temp  hour
0 -1.050824     0
1 -1.050824     3
2 -1.050824     6
3 -1.050824     9
4 -1.050824    12

In [13]:
df = pd.DataFrame({'temp': s * 1.0,
                   'hour': [i for i in range(0, 24, 3)] * 91})
df.loc[
    df['hour'].isin([9, 18]),
    'temp'
] = 3
df.head()

   temp  hour
0  -1.0     0
1  -1.0     3
2  -1.0     6
3   3.0     9
4  -1.0    12

In [14]:
df = pd.DataFrame({'temp': s * 1.0,
                   'hour': [i for i in range(0, 24, 3)] * 91})
df.loc[
    df['hour'] % 2 == 1,
    'temp'
] = 5
df.head()

   temp  hour
0  -1.0     0
1   5.0     3
2  -1.0     6
3   5.0     9
4  -1.0    12