In [1]:
print("""
@File         : exercise_8_net_revenue.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2024-10-03 15:02:58
@Email        : cuixuanstephen@gmail.com
@Description  : 净收入
""")

@File         : exercise_8_net_revenue.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2024-10-03 15:02:58
@Email        : cuixuanstephen@gmail.com
@Description  : 净收入

In [2]:
import pandas as pd
import numpy as np

将值传递给DataFrame类来创建新的数据框。有四种方法可以做到这一点：

1. 传递一个列表列表。每个内部列表代表一行。内部列表必须长度相同并按位置填充列。

In [3]:
df = pd.DataFrame(
    [[10, 20, 30, 40], [50, 60, 70, 80], [90, 100, 110, 120]],
    index=list("xyz"),
    columns=list("abcd"),
)

![从列表列表创建数据框。每个内部列表代表一行。列名按位置取值。](../IMAGES/2-2.png)

2. 传递一个字典列表。每个字典代表一行，键表示应填充哪些列。

In [4]:
df = pd.DataFrame(
    [
        {"a": 10, "b": 20, "c": 30, "d": 40},
        {"a": 50, "b": 60, "c": 70, "d": 80},
        {"a": 90, "b": 100, "c": 110, "d": 120},
    ],
    index=list("xyz"),
)

> 这应该是最复杂的方式，每次列名都要重写一次，重复太多。

![从字典列表创建数据框。每个字典占一行，键表示列值。](../IMAGES/2-3.png)

3. 传递一个列表字典。每个键代表一列，值(列表)是每一列的值。

In [7]:
df = pd.DataFrame(
    {"a": [10, 50, 90], "b": [20, 60, 100], "c": [30, 70, 110], "d": [40, 80, 120]},
    index=list("xyz"),
)

![Creating a data frame from a dict of lists. Each dict key is a column name, and the list contains values for that column.](../IMAGES/2-4.png)

4. 传递一个二维 NumPy 数组。

In [8]:
df = pd.DataFrame(
    np.random.randint(0, 10, [3, 4]), columns=list("abcd"), index=list("xyz")
)
df

   a  b  c  d
x  3  3  6  0
y  5  3  4  1
z  0  4  9  2

![Creating a data frame from a two-dimensional NumPy array](../IMAGES/2-5.png)

In [10]:
df = pd.DataFrame(
    [
        {
            "product_id": 23,
            "name": "computer",
            "wholesale_price": 500,
            "retail_price": 1000,
            "sales": 100,
        },
        {
            "product_id": 96,
            "name": "Python Workout",
            "wholesale_price": 35,
            "retail_price": 75,
            "sales": 1000,
        },
        {
            "product_id": 97,
            "name": "Pandas Workout",
            "wholesale_price": 35,
            "retail_price": 75,
            "sales": 500,
        },
        {
            "product_id": 15,
            "name": "banana",
            "wholesale_price": 0.5,
            "retail_price": 1,
            "sales": 200,
        },
        {
            "product_id": 87,
            "name": "sandwich",
            "wholesale_price": 3,
            "retail_price": 5,
            "sales": 300,
        },
    ]
)
df

   product_id            name  wholesale_price  retail_price  sales
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5             1    200
4          87        sandwich              3.0             5    300

In [11]:
((df.retail_price - df.wholesale_price) * df.sales).sum()

110700.0

Beyond

In [12]:
df['name'][df['retail_price'] > 2 * df['wholesale_price']]

1    Python Workout
2    Pandas Workout
Name: name, dtype: object

In [14]:
((df['retail_price'] - df['wholesale_price']) * df['sales'])[0].sum()

50000.0

In [15]:
((df['retail_price'] - df['wholesale_price']) * df['sales'])[[1, 2]].sum()

60000.0

In [16]:
((df['retail_price'] - df['wholesale_price']) * df['sales'])[[3, 4]].sum()

700.0

> 这种手动的方式没有任何的意义！！！

In [17]:
((df['retail_price'] - df['wholesale_price']*0.7) * df['sales']).sum()

141750.0