In [2]:
print("""
@File         : exercise_3_counting_tens_digits.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2024-09-25 22:16:11
@Email        : cuixuanstephen@gmail.com
@Description  : 计算十位数字
""")

@File         : exercise_3_counting_tens_digits.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2024-09-25 22:16:11
@Email        : cuixuanstephen@gmail.com
@Description  : 计算十位数字

In [3]:
import pandas as pd
import numpy as np

g = np.random.default_rng(0)
s = pd.Series(g.integers(0, 100, 10))

In [4]:
(s / 10).astype(np.int8)

0    8
1    6
2    5
3    2
4    3
5    0
6    0
7    0
8    1
9    8
dtype: int8

![Graphical depiction of dividing the series by 10, converting to np.int8](../IMAGES//1-7.png)

In [5]:
s // 10

0    8
1    6
2    5
3    2
4    3
5    0
6    0
7    0
8    1
9    8
dtype: int64

In [7]:
s.astype(str).str.get(-2).fillna(0)

0    8
1    6
2    5
3    2
4    3
5    0
6    0
7    0
8    1
9    8
dtype: object

In [8]:
s.astype(str).str.get(-2).fillna(0).astype(int)

0    8
1    6
2    5
3    2
4    3
5    0
6    0
7    0
8    1
9    8
dtype: int32

Beyond

In [10]:
s = pd.Series(g.integers(0, 10_000, 10))
s.astype(str).str.get(-2).fillna("0").astype(np.int8)

0    7
1    5
2    0
3    2
4    4
5    7
6    4
7    3
8    4
9    9
dtype: int8

In [11]:
s = pd.Series(np.random.rand(10) * 1000)
s[s.astype(np.int64) % 2 == 0]

1    134.658017
2    800.819202
6    242.855583
dtype: float64

> 不要将花式索引与掩码索引的应用相混淆；在前一种情况下，内部方括号包含索引中的值列表。对于掩码索引，内部方括号包含布尔值（`True` 和 `False`）。